.musicVideoWrap {
    margin-top: 143px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.musicVideoWrap iframe {
    margin-bottom: 40px;
}

.copyright {
    color: white;
    font-weight: 400;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}