.home {
    display: flex;
    justify-content: center;
    height: 92.6vh;
    width: 100vw;
    font-family: 'Archivo', sans-serif;
}

.homeWrapper {
    width: 886px;
    height: 597px;
    position: relative;
    top: 75px;
}

.homeImage {
    width: 546px;
    height: 597px;
    opacity: 0.8;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.homeWrapper h1 {
    color: white;
    font-size: 53px;
    width: 692px;
    font-weight: 700;
    line-height: 55.58px;
    margin: 64px 0 50px 0;
}

.homeLine {
    width: 207px;
    border-bottom: 4px solid #FFFFFF;
    margin-bottom: 50px;
}

.homeShortBio {
    margin: 0 0 55px 0;
    width: 320px;
    font-size: 16px;
    font-weight: 700;
    color: white;
    line-height: 17.41px;
}

.profileLinkList {
    padding: 0;
    display: flex;
    align-items: center;
    gap: 12px;
}

.profileLinkList img {
    width: 22px;
    height: 22px;
}