.articlePage {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.articleWrap {
    margin-top: 143px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 888px;
    
}

.articleWrap > :nth-child(2n) {
    margin-left: 22px;
}

