.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Archivo', sans-serif;
}

.homeWrapper {
    width: 888px;
    height: 597px;
    position: relative;
    margin-top: 143px;
}

.homeImage {
    width: 546px;
    height: 597px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.9;
}

.homeWrapper h1 {
    color: white;
    font-size: 53px;
    width: 692px;
    font-weight: 700;
    line-height: 55.58px;
    margin: 64px 0 50px 0;
}

.homeLine {
    width: 207px;
    border-bottom: 4px solid #FFFFFF;
    margin-bottom: 50px;
}

.homeShortBio {
    font-family: 'Roboto', sans-serif;
    margin: 0 0 50px 0;
    width: 320px;
    font-size: 18px;
    font-weight: 400;
    color: white;
    line-height: 21.09px;
}

.ctaLink {
    font-family: 'Roboto', sans-serif;
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    background-color: #1D0CDC;
    padding: 16px 60px;
    transition: 0.3s;
}

.ctaLink:hover {
    opacity: 0.8;
    -webkit-box-shadow: inset 5px 5px 3px #1d0ec2; 
    box-shadow: inset  5px 5px 3px #1d0ec2; 
}

.profileLinkList {
    padding: 0;
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 55px 0 0 0;
}

.profileLinkList img {
    width: 22px;
    height: 22px;
}

.profileLinkList a {
    transition: 0.3s;
}

.profileLinkList a:hover {
    opacity: 0.7;
}

.brands {
    font-family: 'Roboto', sans-serif;
    margin: 39px 0 50px 0;
    font-size: 16px;
    font-weight: 400;
    color: white;
    width: 204px;
    text-align: center;
}

.brandLogoWrap {
    width: 660px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 21px;
    margin-bottom: 40px;
}

.brandLogoWrap img {
    width: 206px;
    height: 76px;
    transition: 0.3s;
}

.brandLogoWrap img:hover {
    opacity: 0.7;
    cursor: pointer;
}

.copyright {
    color: white;
    font-weight: 400;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}